location                    = "eastus"
resource_group_name         = "rg-three-tier-tfstate"
storage_account_name_prefix = "threetiertfstate"
container_name              = "tfstate"

tags = {
  project     = "three-tier-app"
  environment = "shared"
  managed_by  = "terraform"
}
